In [7]:
from flask import Flask,render_template,request,jsonify,redirect, url_for
import json
from flask import jsonify
import pandas as pd


def create_app():
  app = Flask(__name__)
  return app

app = create_app()


@app.route("/")
def hello():
    return 'Hello, World!'

In [2]:
@app.route("/jsonIP",methods=['POST','GET'])
def jsonIP():
      try:
        myUrl = request.environ['HTTP_ORIGIN']
      except KeyError:
        print("KeyError lol")
        myUrl = '*'
      
      # data = [{"lol":1,"cocorico":"ZARBI"},{"lol":2,"cocorico":"WTF"}] #exemple de la forme de donnée à retourner
      data = getallTAB().head(500)
      #dt_ip = getSitesIP(data,"146.185.234.48").to_dict(orient = 'records')
      dt_ip = getSiteInfos(data,"fontenay-aux-roses-92.ville.mygaloo.fr").to_dict(orient = 'records')
      de = {"status":"OK",
             "data":dt_ip}
      response = jsonify(de)
      response.headers.add('Access-Control-Allow-Origin',myUrl)
      response.headers.add('Access-Control-Allow-Credentials', 'true')
      response.headers.add('Access-Control-Allow-Headers', 'Content-Type')
      response.headers.add('Content-type','application/json')
      response.headers.add('charset','utf8')
      return response

In [3]:
def getallTAB():
    url = "./logs/dataset.txt"
    full_df2=pd.read_csv(url, sep=" ", encoding="utf-8")
    full_df2.columns =['Date', 'Heure', 'ConsultedPage', 'IP','VisitedSite', 'StatusCode','DataBytes']
    return full_df2

In [33]:
def getSiteInfos(df,url):
    """ Fonction permettant de retourner un dataframe contenant la liste des sites visité par une adresse IP

    paramètres : 

    df : dataframe contenant tous les logs.
    url : chaine de caractère decrivant l'url à avoir.

    retour : 
    
    dc_info : dataframe listant les sites visité par l'ip.
    
    """
    df_ip = df[df['VisitedSite'] == url] 
    df_site =  df_ip.groupby('ConsultedPage').size().to_frame(name = 'nb_occur').sort_values(by = 'nb_occur', ascending = False)
    return df_site

In [38]:
data = getallTAB()
dt_ip = getSiteInfos(data,"fontenay-aux-roses-92.ville.mygaloo.fr").to_frame(name = 'nb').sort_values(by = 'nb', ascending = False)
dt_ip

                                        nb
ConsultedPage
l-atelier-informatique-forum-formation  37
knu-prod-2                              34
espace-pour-entreprendre-3               4
mairie-887                               4
les-dauphins-du-desert-3d-2              4
...                                     ..
dom-services-2                           2
simon-de-cyrene-rungis-2                 2
eolina                                   2
association-futsal-igny                  2
velizy-villacoublay-plongee-2            2

[77 rows x 1 columns]